	<label for="{{ title_field_id }}">Title</label>
	<input placeholder="Title" class="widefat" id="{{ title_field_id }}" name="{{ title_field_name }}" type="text" value="{{ title }}">
	
	<hr/>
	
	<label for="{{ height_field_id }}">Height</label>
	<input class="widefat" id="{{ height_field_id }}" name="{{ height_field_name }}" type="text" value="{{ height }}">

	<hr/>

	<label for="{{ marginBottom_field_id }}">Margin Bottom</label>
	<input class="widefat" id="{{ marginBottom_field_id }}" name="{{ marginBottom_field_name }}" type="text" value="{{ marginBottom }}">


	<hr/>

	<label for="{{ showCategoriesMenu_field_id }}">Show Categories Menu</label>
	<input class="widefat" id="{{ showCategoriesMenu_field_id }}" name="{{ showCategoriesMenu_field_name }}" type="checkbox" {{ showCategoriesMenu ? "checked" : "" }}>

	<hr/>

	<label for="{{ enableClustering_field_id }}">Enable Clustering</label>
	<input class="widefat" id="{{ enableClustering_field_id }}" name="{{ enableClustering_field_name }}" type="checkbox" {{ enableClustering ? "checked" : "" }}>

{% include 'templates/stories-map.twig' %}
